/* ---------------------------------------------------------------------- */
/*  Landing Page
/* ---------------------------------------------------------------------- */
.landing-page {

    .navbar {
        .navbar-header {
            position: relative !important;
            background: transparent !important;
            height: auto;
            border: none;
            width: auto !important;
            box-shadow: none !important;

            .navbar-brand {
                opacity: 1 !important;
                top: 0 !important;
                
                @media (min-width: $screen-md-min) {
                    @include transition(all 0.5s);

                    img {
                        @include transition(all 0.5s);
                        max-width: 200px;
                    }
                }
            }

            @media (max-width: $screen-xs-max) {
                text-align: center;

                .navbar-brand {
                    float: none;
                }

                .landing-menu-toggler {
                    height: auto !important;
                    line-height: normal !important;
                    position: absolute;
                    left: 15px;
                    top: 15px;
                }
            }
        }


        &.min {
            @media (min-width: $screen-md-min) {
                height: 40px;
                line-height: 40px;
                background: $black;

                .navbar-header, .navbar-collapse {
                    height: 40px !important;
                }

                .navbar-brand {
                    height: 40px;
                    line-height: 40px;

                    img {
                        max-width: 70px !important;
                    }
                }

                .navbar-nav {
                    > li {
                        > a {
                            line-height: 40px;
                        }
                    }
                }
            }
        }
    }

    .landing-content {
        height: 470px;

        @media (min-width: $screen-md-min) {
            .app-navbar-fixed & {
                margin-top: - $header-height;
            }
        }
        
        .carousel {
            height: 470px;
            width: 100%;
            position: relative;
            margin-bottom: 0 !important;

            .slick-list {
                overflow: visible;
            }

            .slick-slide {
                height: 470px;
                background-size: cover !important;
                background-position: center center !important;
            }

            .image {
                position: absolute;
                right: 10px;
                top: 135px;
            }
        }
    }
    .section-features {
        //background-image: url('../assets/img/section_features.png');
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    .section-testimonials {
        //background-image: url("../assets/img/section_testimonials.jpg") !important;
        background-repeat: no-repeat !important;
        background-position: center bottom !important;
        padding-bottom: 250px !important;
    }

    .testimonial-thumb {
        margin: 0 auto;
        max-width: 80px;
    }

    .section-contact {
        //background-image: url("../assets/img/word_map.png");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        margin-top: 60px;
    }
}
